@import '../../styles/settings.scss';

.links {
  margin: 20px 60px;
  color: white;
}

.navi {
  background-color: darken($color-dark, 3%);
  display: flex;
  justify-content: space-between;
}

.icon::before {
  position: absolute;
  font-size: 24px;
  margin: 15px 15px 15px 40px;
  color: white;
}

.linkActive {
  color: $color-warning;
  position: relative;
  text-decoration: none;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}